# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation
README.md

# Environment
.env
backend/.env

# Docker
ai_asset_auto_discovery/Dockerfile
.dockerignore
docker-compose.yml
output/
archived